
//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝
//


$font: 'Montserrat', sans-serif;

// Typos
$h1: 5rem;
$h2: 3rem;
$h3: 2rem;
$p: 1.3rem;
$small: 1rem;

// Typo Bolds

$regular: 400;
$bold: 700;
$black: 800;